data/
JRI/
logs/
bin/
simulation_graphs/
*.pyc
*.npz
*.yaml
/Thesis/referencedPapers
/Thesis/Template
/Thesis/datasets/raw_data/
python/shizouka_path.py
.gitignore_copy
/Thesis/tex/Figures/old/
/Thesis/data_for_figures/
./Thesis/tex/Figures/
Thesis/tex/Tables/
Thesis/tex/Figures/
halfdan_thesis_draft.pdf
datasets/datasets.txt 
datasets/merged_data
gaiyousyo-form.doc
Thesis/data_for_tradeprice_plots/ 
gaiyousyo-form copy.doc
Thesis/data_for_tradeprice_plots/
python/ipython_log.py
Thesis/tex/masterthesis-sample.aux Thesis/tex/masterthesis-sample.bbl Thesis/tex/masterthesis-sample.blg Thesis/tex/masterthesis-sample.lof Thesis/tex/masterthesis-sample.log Thesis/tex/masterthesis-sample.lot Thesis/tex/masterthesis-sample.out Thesis/tex/masterthesis-sample.pdf Thesis/tex/masterthesis-sample.synctex.gz Thesis/tex/masterthesis-sample.toc
