data/
JRI/
logs/
bin/
simulation_graphs/
*.pyc
*.npz
*.yaml
/Thesis/referencedPapers
/Thesis/Template
/Thesis/datasets/raw_data/
python/shizouka_path.py
.gitignore_copy
/Thesis/tex/Figures/old/
/Thesis/data_for_figures/
